@media only screen and (min-width: 320px) {
    .select-none {
        display: none;
    }

    nav {
        width: 95vw;
        margin-bottom: 4rem;
    }

    nav img {
        width: 150px;
    }

    .btn button {
        padding: 5px 7px;
    }



    .content {
        max-width: 90vw;
        margin: 0 auto;
        gap: 0.8rem;
        margin-top: 3rem;
    }

    .content>:nth-child(1) {
        font-size: 28px;
    }

    .content>:nth-child(2) {
        font-size: 20px;

    }

    .content>:nth-child(3) {
        font-size: 18px;

    }

    .button {
        flex-direction: column;
        gap: 15px;
    }


    .btn-red {
        padding: 12px 36px;
    }

    .button input {
        padding: 12px 30px;
        text-align: justify;
    }

    .first {
        flex-direction: column;
        margin-top: 2rem;
        width: 80vw;
        height: 100vh;
    }

    .first-span {
        gap: 10px;
        width: 80vw;
        margin-top: 2rem;
    }

    .one {
        font-size: 26px;
        text-align: center;
    }

    .two {
        font-size: 16px;
        text-align: center;
    }

    .img {
        width: 300px;
    }

    .video {
        right: 50px;
        padding-top: 48px;
        width: 220px;
    }

    .width-320 {
        width: 300px;
    }

    .dec-width {
        height: 40vh;
        margin-top: 1rem;
        gap: 70px;
        justify-content: center;
        align-items: center;
    }

    .row-reverse {
        flex-direction: column-reverse;
    }

    .kids-width img {
        margin-bottom: 8rem;
        width: 300px;
    }

    .sepration {
        width: 100%;
    }

    .faq {
        font-size: 30px;
        padding: 3rem 10px;
    }

    .third {
        max-width: 90vw;
        margin: 0 auto;
    }

    .second {
        font-size: 18px;
    }

    .plus {
        font-size: 2rem;
    }

    .content-fot {
        font-size: 18px;
    }

    .btn-foot {
        gap: 15px;
    }

    .footer {
        max-width: 95vw;
        margin: 0;
        margin-left: 1rem;
    }

    .link {
        margin: 0;
        margin-left: 0.6rem;
        margin-bottom: 2rem;
    }

    .link a {
        font-size: 18px;
    }

    .footer-fot {
        grid-template-columns: 1fr 1fr;
    }

    .footer-fot a {
        font-size: 15px;
        gap: 10px;

    }

    .pakistan {
        font-size: 18px;

    }

}

@media screen and (max-width: 374.98px) {

    .select-none {
        display: none;
    }

    nav {
        margin-bottom: 4rem;
        width: 90vw;
    }

    nav img {
        width: 140px;
    }

    .btn button {
        padding: 6px;
    }

    .content {
        max-width: 90vw;
        gap: 10px;
        margin: 10px auto;
    }

    .content>:nth-child(1) {
        font-size: 28px;
    }

    .content>:nth-child(2) {
        font-size: 20px;

    }

    .content>:nth-child(3) {
        font-size: 18px;

    }

    .button {
        flex-direction: column;
        gap: 15px;
    }


    .button input {
        padding: 12px 30px;
        text-align: justify;
    }

    .first {
        flex-direction: column;
        margin-top: 2rem;
        width: 80vw;
        height: 100vh;
    }

    .first-span {
        gap: 10px;
        width: 80vw;
        margin-top: 2rem;
    }

    .one {
        font-size: 26px;
        text-align: center;
    }

    .two {
        font-size: 16px;
        text-align: center;
    }

    .img {
        width: 300px;
    }

    .video {
        right: 55px;
        padding-top: 48px;
        width: 220px;
    }

    .width-320 {
        width: 300px;
    }

    .dec-width {
        height: 40vh;
        margin-top: 1rem;
        gap: 70px;
        justify-content: center;
        align-items: center;
    }

    .row-reverse {
        flex-direction: column-reverse;
    }

    .kids-width img {
        margin-bottom: 8rem;
        width: 300px;
    }

    .sepration {
        width: 100%;
    }

    .faq {
        font-size: 30px;
        padding: 3rem 10px;
    }

    .third {
        max-width: 90vw;
        margin: 0 auto;
    }

    .second {
        font-size: 18px;
        height: 10vh;
    }

    .plus {
        font-size: 2rem;
    }

    .content-fot {
        font-size: 18px;
    }

    .btn-foot {
        gap: 15px;
    }

    .footer {
        max-width: 95vw;
        margin: 0;
        margin-left: 1rem;
    }

    .link {
        margin: 0;
        margin-left: 0.6rem;
        margin-bottom: 2rem;
    }

    .link a {
        font-size: 18px;
    }

    .footer-fot {
        grid-template-columns: 1fr 1fr;
    }

    .footer-fot a {
        font-size: 15px;
        gap: 10px;

    }

    .pakistan {
        font-size: 18px;

    }

}

@media only screen and (min-width: 375px) and (max-width: 424.98px) {
    .select-none {
        display: none;
    }

    nav {
        width: 90vw;
        margin-bottom: 2.5rem;
    }

    nav img {
        width: 150px;
    }

    .btn button {
        padding: 6px 12px;
    }

    .content {
        max-width: 85vw;
        gap: 8px;
        margin: 2px auto;
    }

    .content>:nth-child(1) {
        font-size: 32px;
    }

    .content>:nth-child(2) {
        font-size: 24px;

    }

    .content>:nth-child(3) {
        font-size: 20px;

    }

    .button {
        flex-direction: column;
    }

    .button {
        flex-direction: column;
        gap: 15px;
    }

    .button input {
        padding: 15px 50px;
    }

    .button input::placeholder {
        text-align: center;
        font-size: 18px;
    }

    .first {
        flex-direction: column;
        margin-top: 2rem;
        width: 80vw;
        height: 100vh;
    }

    .first-span {
        gap: 10px;
        width: 80vw;
        margin-top: 2rem;
    }

    .one {
        font-size: 26px;
        text-align: center;
    }

    .two {
        font-size: 16px;
        text-align: center;
    }

    .img {
        width: 300px;
    }

    .video {
        right: 75px;
        padding-top: 48px;
        width: 220px;
    }

    .width-320 {
        width: 300px;
    }

    .dec-width {
        height: 40vh;
        margin-top: 1rem;
        gap: 70px;
        justify-content: center;
        align-items: center;
    }

    .row-reverse {
        flex-direction: column-reverse;
    }

    .kids-width img {
        margin-bottom: 8rem;
        width: 300px;
    }

    .sepration {
        width: 100%;
    }

    .faq {
        font-size: 32px;
        padding: 3rem 10px;
    }

    .third {
        max-width: 90vw;
        margin: 0 auto;
    }

    .second {
        font-size: 18px;
    }

    .plus {
        font-size: 2rem;
    }

    .content-fot {
        font-size: 18px;
    }

    .btn-foot {
        gap: 15px;
    }

    .footer {
        max-width: 95vw;
        margin: 0;
        margin-left: 1rem;
    }

    .link {
        margin: 0;
        margin-left: 0.6rem;
        margin-bottom: 2rem;
    }

    .link a {
        font-size: 18px;
    }

    .footer-fot {
        grid-template-columns: 1fr 1fr;
    }

    .footer-fot a {
        font-size: 15px;
        gap: 10px;

    }

    .pakistan {
        font-size: 18px;

    }
}

@media only screen and (min-width: 425px) and (max-width: 767.98px) {

    nav {
        width: 95vw;
        margin-bottom: 3rem;
    }

    .select-none {
        display: none;
    }

    nav img {
        width: 170px;
    }

    .content {
        max-width: 95vw;
        gap: 1.5rem;
        margin: 10px auto;
    }

    .content>:nth-child(1) {
        font-size: 32px;
    }

    .content>:nth-child(2) {
        font-size: 24px;

    }

    .content>:nth-child(3) {
        font-size: 24px;

    }

    .button {
        flex-direction: column;
        gap: 15px;
        margin-top: 1.5rem;
    }

    .button input {
        padding: 19px 60px;
        text-align: justify;
    }

    .first {
        flex-direction: column;
        margin-top: 4rem;
        width: 80vw;
        height: 100vh;
    }

    .first-span {
        gap: 10px;
        width: 80vw;
        margin-top: 2rem;
    }

    .one {
        font-size: 32px;
        text-align: center;
    }

    .two {
        font-size: 20px;
        text-align: center;
    }

    .img {
        width: 400px;
    }

    .video {
        right: 65px;
        padding-top: 65px;
        width: 290px;
    }

    .width-320 {
        width: 350px;
        margin-bottom: 8rem;
    }

    .dec-width {
        height: 40vh;
        margin-top: 1rem;
        gap: 70px;
        justify-content: center;
        align-items: center;
    }

    .row-reverse {
        flex-direction: column-reverse;
    }

    .kids-width img {
        margin-bottom: 4rem;
        width: 350px;
    }

    .sepration {
        width: 100%;
    }

    .faq {
        font-size: 42px;
        padding: 3rem 10px;
    }

    .third {
        max-width: 90vw;
        margin: 0 auto;
    }

    .second {
        font-size: 24px;
    }

    .plus {
        font-size: 3rem;
    }

    .content-fot {
        font-size: 22px;
    }

    .btn-foot {
        gap: 15px;
        margin-bottom: 2rem;
    }

    .footer {
        max-width: 95vw;
        margin: 0;
        margin-left: 2rem;
    }

    .link {
        margin: 0;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }

    .link a {
        font-size: 18px;
    }

    .footer-fot {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-fot a {
        font-size: 15px;
        gap: 10px;

    }

    .pakistan {
        font-size: 18px;

    }
}

@media only screen and (min-width: 768px) and (max-width: 1023.98px) {


    nav {
        width: 95vw;
        margin-bottom: 3rem;
    }

    nav img {
        width: 210px;
    }

    .select {
        padding: 12px;
    }


    .select-none {
        display: inline-flex;
    }

    .btn button {
        padding: 12px 10px;
        font-size: 18px;
    }


    .content {
        max-width: 90vw;
        gap: 0.6rem;
        margin: 10px auto;
    }

    .content>:nth-child(1) {
        font-size: 42px;
    }

    .content>:nth-child(2) {
        font-size: 32px;

    }

    .content>:nth-child(3) {
        font-size: 30px;

    }

    .button {
        flex-direction: row;
        gap: 15px;
    }

    .btn-red-sm {
        padding: 18px 20px;
    }

    .button input {
        padding: 19px 60px;
        text-align: justify;
    }

    .first {
        flex-direction: column;
        width: 80vw;
        height: 100vh;
        text-align: center;
    }

    .first-span {
        gap: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .one {
        font-size: 32px;
        text-align: center;
    }

    .two {
        font-size: 20px;
        text-align: center;
    }

    .img {
        width: 450px;
    }

    .video {
        right: 221px;
        padding-top: 70px;
        width: 325px;
    }

    .width-320 {
        width: 450px;
        margin-bottom: 3rem;
    }

    .dec-width {
        height: 50vh;
        margin-top: 1rem;
        gap: 70px;
        justify-content: center;
        align-items: center;
    }

    .row-reverse {
        height: 100vh;
        flex-direction: column-reverse;
        width: 90vw;
        margin-top: 4rem;
        gap: 25px;
    }

    .kids-width img {
        width: 400px;
    }

    .sepration {
        width: 100%;
    }


    .third {
        max-width: 95vw;
        margin: 0 auto;
    }

    .faq {
        font-size: 42px;
        padding: 3rem 10px;
        margin-top: 1rem;
    }

    .second {
        font-size: 24px;
        max-width: 90vw;

    }

    .plus {
        font-size: 3rem;
    }

    .content-fot {
        font-size: 22px;
    }

    .btn-foot {
        gap: 15px;
        margin-bottom: 5rem;
    }

    .footer {
        max-width: 80vw;
        margin: 0;
        margin-left: 2rem;
        height: 100vh;
    }

    .link {
        margin: 0;
        margin-bottom: 2rem;
    }

    .link a {
        font-size: 24px;
    }

    .footer-fot {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
        padding: 5px;
    }

    .footer-fot a {
        font-size: 18px;
        gap: 10px;

    }

    .select-foot {
        padding: 10px;
        margin: 1.5rem 0;
    }

    .pakistan {
        font-size: 20px;

    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439.98px) {
    nav {
        width: 90vw;
        margin-bottom: 8rem;
    }

    nav img {
        width: 270px;
    }

    .select {
        padding: 12px;
    }


.select-none {
    display: inline-flex;
}


.btn button {
    padding: 10.5px 10px;
    font-size: 18px;
}


.content {
    max-width: 95vw;
    gap: 0.6rem;
    margin: 10px auto;
}

.content>:nth-child(1) {
    font-size: 48px;
}

.content>:nth-child(2) {
    font-size: 38px;
    font-weight: 500;

}

.content>:nth-child(3) {
    font-size: 32px;
    font-weight: 500;
}

.button {
    flex-direction: row;
    gap: 15px;
}

.btn-red-sm {
    padding: 18px 20px;
}

.button input {
    padding: 19px 60px;
    text-align: justify;
}

.first {
    flex-direction: row;
    width: 90vw;
    margin: 0 auto;
    height: 100vh;
    gap: 40px;
}

.first-span {
    gap: 10px;
    width: 50vw;
}

.one {
    font-size: 42px;
}

.two {
    font-size: 24px;
}

.img {
    width: 500px;
}

.video {
    right: 100px;
    padding-top: 80px;
    width: 380px;
}

.width-320 {
    width: 500px;
}

.dec-width {
    height: 50vh;
    margin-top: 1rem;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.row-reverse {
    height: 100vh;
    flex-direction: row-reverse;
    width: 90vw;
}

.kids-width img {
    width: 500px;
    margin-bottom: 1rem;
}

.sepration {
    width: 100%;
}


.third {
    max-width: 95vw;
    margin: 0 auto;
}

.faq {
    font-size: 42px;
    padding: 3rem 10px;
    margin-top: 1rem;
}

.second {
    font-size: 24px;
    max-width: 90vw;

}

.plus {
    font-size: 3rem;
}

.content-fot {
    font-size: 22px;
}

.btn-foot {
    gap: 15px;
    margin-bottom: 5rem;
}

.footer {
    max-width: 80vw;
    margin: 0;
    margin-left: 2rem;
    height: 100vh;
}

.link {
    margin: 0;
    margin-bottom: 2rem;
}

.link a {
    font-size: 24px;
}

.footer-fot {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 5px;
}

.footer-fot a {
    font-size: 18px;
    gap: 10px;

}

.select-foot {
    padding: 10px;
    margin: 1.5rem 0;
}

.pakistan {
    font-size: 20px;

}
}


@media only screen and (min-width: 1440px) {
    nav {
        width: 85vw;
        margin-bottom: 7rem;
    }

    nav img {
        width: 230px;
    }

    .select {
        padding: 12px;
        display: flex;

    }

    .select-none {
        display: inline-flex;
    }

    .btn button {
        padding: 10.5px 10px;
        font-size: 18px;
    }


    .content {
        max-width: 90vw;
        gap: 0.6rem;
        margin: 0 auto;
        margin-top: 4rem;
    }

    .content>:nth-child(1) {
        font-size: 52px;
    }

    .content>:nth-child(2) {
        font-size: 42px;
        font-weight: 500;

    }

    .content>:nth-child(3) {
        font-size: 32px;
        font-weight: 500;
    }

    .button {
        flex-direction: row;
        gap: 15px;
    }

    .btn-red-sm {
        padding: 15px 30px;
    }

    .button input {
        padding: 15px 10px;
        padding-right: 150px;
    }

    .first {
        flex-direction: row;
        max-width: 100vw;
        height: 100vh;
    }

    .first-span {
        gap: 10px;
        width: 50vw;
    }

    .one {
        font-size: 48px;
    }

    .two {
        font-size: 24px;
    }

    .img {
        width: 500px;
    }

    .video {
        right: 185px;
        padding-top: 80px;
        width: 390px;
    }


    .width-320 {
        width: 500px;
    }

    .dec-width {
        height: 50vh;
        margin-top: 1rem;
        gap: 70px;
        justify-content: center;
        align-items: center;
    }

    .row-reverse {
        height: 100vh;
        flex-direction: row-reverse;
        width: 90vw;
    }

    .kids-width img {
        width: 500px;
        margin-bottom: 1rem;
    }

    .sepration {
        width: 100%;
    }


    .third {
        max-width: 85vw;
        margin: 0 auto;
    }

    .faq {
        font-size: 48px;
        padding: 3rem 10px;
        margin-top: 1rem;
        font-weight: 900;
    }

    .second {
        font-size: 24px;
        max-width: 90vw;

    }

    .plus {
        font-size: 3rem;
    }

    .content-fot {
        font-size: 22px;
    }

    .btn-foot {
        gap: 15px;
        margin-bottom: 5rem;
    }

    .footer {
        max-width: 80vw;
        margin: 0;
        margin-left: 2rem;
        height: 100vh;
    }

    .link {
        margin: 0;
        margin-bottom: 2rem;
    }

    .link a {
        font-size: 24px;
    }

    .footer-fot {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
        padding: 5px;
    }

    .footer-fot a {
        font-size: 18px;
        gap: 10px;

    }

    .select-foot {
        padding: 10px;
        margin: 1.5rem 0;
    }

    .pakistan {
        font-size: 20px;

    }
}